body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  main {
    padding: 1rem;
  }
  .main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #dbc441;
    padding: 0 1.5rem;
  }
  .main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .main-header__item {
    list-style: none;
    margin: 0 1rem;
    padding: 0;
  }
  .main-header__item-list a {
    text-decoration: none;
    color: white;
  }
  .main-header__item-list a:hover,
  .main-header__item-list a:active,
  .main-header__item-list a.active {
    color: #6200ff;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30rem;
    margin: auto;
  }
  .form-control label,
  .form-control input {
    display: block;
  }
  .form-control input {
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
  }
  button {
    font: inherit;
    border: 1px solid #dbc441;
    color: #dbc441;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }